# Données (trop lourdes + confidentielles)
data/train/malade/*
data/train/non_malade/*
data/val/malade/*
data/val/non_malade/*
data/test/malade/*
data/test/non_malade/*
!**/.gitkeep

# Modèles entraînés
models/*.pt
models/*.pkl
models/*.pth

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# macOS
.DS_Store

# Conda
*.lock.yml
database/
